* {
  margin: 0;
  padding: 0;
}
.night-background {
  background: linear-gradient(180deg, #000000, #000033);
  position: fixed;
  overflow: hidden;
  height: 100%;
  min-height: 410px;
  width: 100%;
}
.planet {
  position: absolute;
  left: -20%;
  bottom: 0;
  box-shadow: 0 0 15px rgba(255, 248, 219, 0.7), 0 0 15px rgba(255, 248, 219, 0.5);
  background-image: -webkit-linear-gradient(top, #FFF8DB -10%, #7BB7E8 20%, #2751D9 100%);
  background-image: linear-gradient(to bottom, #FFF8DB -10%, #7BB7E8 20%, #2751D9 100%);
  background-image: radial-gradient(to top, #2751D9 100%, #7BB7E8 50%, #FFF8DB 0%);
  width: 140%;
  height: 50px;
  bottom: -40px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}
.text {
  font-family: 'Open Sans', Arial, sans-serif;
  position: absolute;
  bottom: 50px;
  color: #ffffff;
  left: 30px;
}
@media (max-width: 436px) {
  .text {
    width: 92%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.text h1 {
  font-size: 26px;
  font-weight: 400;
  opacity: 0.8;
}
@media (max-width: 399px) {
  .text h1 {
    font-size: 20px;
  }
}
.text h2 {
  font-weight: 300;
  opacity: 0.5;
  font-size: 17px;
  margin-top: 5px;
}
.star {
  -webkit-animation-name: flicker;
  -webkit-animation-timing-function: ease(in-out-circ);
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-name: flicker;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
}
@keyframes flicker {
  to {
    opacity: 0.25;
  }
}
@-webkit-keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
.star-container {
  height: 100vh;
  width: 100vw;
  perspective: 120rem;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  width: 100%;
}
#container1 {
  height: 100vh;
  width: 100vw;
  perspective: 120rem;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  width: 100%;
  transform: rotate(0deg);
}
#container1 .star:nth-child(80) {
  animation-delay: 1.16666667s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1.16666667s;
  -webkit-animation-duration: 0.5s;
  left: 44vw;
  top: 24vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(79) {
  animation-delay: 3.5s;
  animation-duration: 2s;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-duration: 2s;
  left: 56vw;
  top: 75vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container1 .star:nth-child(78) {
  animation-delay: 0.2s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 1s;
  left: 80vw;
  top: 53vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container1 .star:nth-child(77) {
  animation-delay: 0.44444444s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.44444444s;
  -webkit-animation-duration: 1s;
  left: 50vw;
  top: 25vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(76) {
  animation-delay: 6s;
  animation-duration: 2s;
  -webkit-animation-delay: 6s;
  -webkit-animation-duration: 2s;
  left: 88vw;
  top: 32vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(75) {
  animation-delay: 0.375s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.375s;
  -webkit-animation-duration: 3s;
  left: 34vw;
  top: 45vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(74) {
  animation-delay: 3s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 0.5s;
  left: 92vw;
  top: 22vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(73) {
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 0.5s;
  left: 14vw;
  top: 1vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(72) {
  animation-delay: 2s;
  animation-duration: 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1s;
  left: 74vw;
  top: 72vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container1 .star:nth-child(71) {
  animation-delay: 1.16666667s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.16666667s;
  -webkit-animation-duration: 1s;
  left: 4vw;
  top: 34vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container1 .star:nth-child(70) {
  animation-delay: 1.5s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 1s;
  left: 10vw;
  top: 19vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(69) {
  animation-delay: 0.14285714s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 0.14285714s;
  -webkit-animation-duration: 1.33333333s;
  left: 30vw;
  top: 30vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(68) {
  animation-delay: 2s;
  animation-duration: 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1s;
  left: 29vw;
  top: 8vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(67) {
  animation-delay: 0.55555556s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 0.55555556s;
  -webkit-animation-duration: 0.66666667s;
  left: 14vw;
  top: 55vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(66) {
  animation-delay: 0.28571429s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 0.28571429s;
  -webkit-animation-duration: 1.33333333s;
  left: 30vw;
  top: 87vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(65) {
  animation-delay: 1.25s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.25s;
  -webkit-animation-duration: 1s;
  left: 87vw;
  top: 34vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container1 .star:nth-child(64) {
  animation-delay: 0.75s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 1s;
  left: 53vw;
  top: 48vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(63) {
  animation-delay: 1.4s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.4s;
  -webkit-animation-duration: 1s;
  left: 83vw;
  top: 68vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(62) {
  animation-delay: 2s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 0.33333333s;
  left: 62vw;
  top: 16vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(61) {
  animation-delay: 2.33333333s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 2.33333333s;
  -webkit-animation-duration: 0.66666667s;
  left: 100vw;
  top: 66vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(60) {
  animation-delay: 2.33333333s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 2.33333333s;
  -webkit-animation-duration: 0.5s;
  left: 88vw;
  top: 64vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(59) {
  animation-delay: 3.33333333s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 3.33333333s;
  -webkit-animation-duration: 0.33333333s;
  left: 40vw;
  top: 76vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(58) {
  animation-delay: 0.83333333s;
  animation-duration: 4s;
  -webkit-animation-delay: 0.83333333s;
  -webkit-animation-duration: 4s;
  left: 23vw;
  top: 25vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(57) {
  animation-delay: 2.33333333s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 2.33333333s;
  -webkit-animation-duration: 0.66666667s;
  left: 64vw;
  top: 88vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(56) {
  animation-delay: 0.11111111s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 0.11111111s;
  -webkit-animation-duration: 0.66666667s;
  left: 25vw;
  top: 74vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(55) {
  animation-delay: 4s;
  animation-duration: 1s;
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 1s;
  left: 87vw;
  top: 61vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(54) {
  animation-delay: 8s;
  animation-duration: 1s;
  -webkit-animation-delay: 8s;
  -webkit-animation-duration: 1s;
  left: 67vw;
  top: 90vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(53) {
  animation-delay: 1s;
  animation-duration: 4s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 4s;
  left: 39vw;
  top: 41vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(52) {
  animation-delay: 0.5s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  left: 34vw;
  top: 80vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(51) {
  animation-delay: 8s;
  animation-duration: 4s;
  -webkit-animation-delay: 8s;
  -webkit-animation-duration: 4s;
  left: 61vw;
  top: 88vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(50) {
  animation-delay: 0.14285714s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.14285714s;
  -webkit-animation-duration: 0.33333333s;
  left: 30vw;
  top: 80vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(49) {
  animation-delay: 0.57142857s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.57142857s;
  -webkit-animation-duration: 1.5s;
  left: 31vw;
  top: 52vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(48) {
  animation-delay: 10s;
  animation-duration: 1s;
  -webkit-animation-delay: 10s;
  -webkit-animation-duration: 1s;
  left: 90vw;
  top: 42vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(47) {
  animation-delay: 9s;
  animation-duration: 4s;
  -webkit-animation-delay: 9s;
  -webkit-animation-duration: 4s;
  left: 84vw;
  top: 65vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(46) {
  animation-delay: 1s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.33333333s;
  left: 31vw;
  top: 54vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(45) {
  animation-delay: 0.42857143s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.42857143s;
  -webkit-animation-duration: 3s;
  left: 78vw;
  top: 76vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(44) {
  animation-delay: 0.11111111s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.11111111s;
  -webkit-animation-duration: 2s;
  left: 74vw;
  top: 76vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(43) {
  animation-delay: 4s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 1.5s;
  left: 77vw;
  top: 6vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(42) {
  animation-delay: 1.42857143s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 1.42857143s;
  -webkit-animation-duration: 0.33333333s;
  left: 61vw;
  top: 53vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(41) {
  animation-delay: 0.125s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.125s;
  -webkit-animation-duration: 1s;
  left: 21vw;
  top: 20vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(40) {
  animation-delay: 1.16666667s;
  animation-duration: 3s;
  -webkit-animation-delay: 1.16666667s;
  -webkit-animation-duration: 3s;
  left: 18vw;
  top: 81vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(39) {
  animation-delay: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 3s;
  left: 86vw;
  top: 18vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(38) {
  animation-delay: 2.25s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 2.25s;
  -webkit-animation-duration: 0.5s;
  left: 43vw;
  top: 83vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(37) {
  animation-delay: 0.88888889s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.88888889s;
  -webkit-animation-duration: 1s;
  left: 10vw;
  top: 34vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(36) {
  animation-delay: 2.66666667s;
  animation-duration: 1s;
  -webkit-animation-delay: 2.66666667s;
  -webkit-animation-duration: 1s;
  left: 28vw;
  top: 5vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(35) {
  animation-delay: 0.42857143s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.42857143s;
  -webkit-animation-duration: 1s;
  left: 67vw;
  top: 73vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(34) {
  animation-delay: 0.33333333s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.33333333s;
  -webkit-animation-duration: 2s;
  left: 61vw;
  top: 57vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(33) {
  animation-delay: 0.625s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 0.625s;
  -webkit-animation-duration: 1.33333333s;
  left: 17vw;
  top: 29vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container1 .star:nth-child(32) {
  animation-delay: 1s;
  animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 3s;
  left: 16vw;
  top: 79vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(31) {
  animation-delay: 1.11111111s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.11111111s;
  -webkit-animation-duration: 1s;
  left: 6vw;
  top: 82vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(30) {
  animation-delay: 3s;
  animation-duration: 1s;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 1s;
  left: 98vw;
  top: 12vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(29) {
  animation-delay: 1s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.5s;
  left: 40vw;
  top: 98vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(28) {
  animation-delay: 0.11111111s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.11111111s;
  -webkit-animation-duration: 1s;
  left: 85vw;
  top: 39vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container1 .star:nth-child(27) {
  animation-delay: 0.22222222s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.22222222s;
  -webkit-animation-duration: 2s;
  left: 20vw;
  top: 24vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(26) {
  animation-delay: 0.42857143s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.42857143s;
  -webkit-animation-duration: 1s;
  left: 50vw;
  top: 56vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(25) {
  animation-delay: 0.14285714s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.14285714s;
  -webkit-animation-duration: 1s;
  left: 49vw;
  top: 36vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(24) {
  animation-delay: 2s;
  animation-duration: 4s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 4s;
  left: 81vw;
  top: 63vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(23) {
  animation-delay: 2.5s;
  animation-duration: 1s;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-duration: 1s;
  left: 92vw;
  top: 49vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(22) {
  animation-delay: 0.22222222s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.22222222s;
  -webkit-animation-duration: 3s;
  left: 36vw;
  top: 97vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(21) {
  animation-delay: 0.5s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 0.66666667s;
  left: 52vw;
  top: 29vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(20) {
  animation-delay: 0.5s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
  left: 60vw;
  top: 8vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(19) {
  animation-delay: 5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 0.5s;
  left: 52vw;
  top: 83vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(18) {
  animation-delay: 0.11111111s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 0.11111111s;
  -webkit-animation-duration: 1.33333333s;
  left: 99vw;
  top: 11vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(17) {
  animation-delay: 2s;
  animation-duration: 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1s;
  left: 4vw;
  top: 76vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(16) {
  animation-delay: 0.125s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.125s;
  -webkit-animation-duration: 0.5s;
  left: 82vw;
  top: 51vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container1 .star:nth-child(15) {
  animation-delay: 3.5s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-duration: 0.66666667s;
  left: 67vw;
  top: 94vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(14) {
  animation-delay: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
  left: 8vw;
  top: 18vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container1 .star:nth-child(13) {
  animation-delay: 2.5s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-duration: 1.33333333s;
  left: 69vw;
  top: 46vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(12) {
  animation-delay: 1.25s;
  animation-duration: 2s;
  -webkit-animation-delay: 1.25s;
  -webkit-animation-duration: 2s;
  left: 100vw;
  top: 40vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(11) {
  animation-delay: 1.25s;
  animation-duration: 2s;
  -webkit-animation-delay: 1.25s;
  -webkit-animation-duration: 2s;
  left: 69vw;
  top: 13vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(10) {
  animation-delay: 1.28571429s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 1.28571429s;
  -webkit-animation-duration: 0.66666667s;
  left: 22vw;
  top: 76vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(9) {
  animation-delay: 2.25s;
  animation-duration: 1s;
  -webkit-animation-delay: 2.25s;
  -webkit-animation-duration: 1s;
  left: 62vw;
  top: 32vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(8) {
  animation-delay: 6s;
  animation-duration: 2s;
  -webkit-animation-delay: 6s;
  -webkit-animation-duration: 2s;
  left: 86vw;
  top: 9vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container1 .star:nth-child(7) {
  animation-delay: 5s;
  animation-duration: 1s;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 1s;
  left: 51vw;
  top: 45vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(6) {
  animation-delay: 3.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-duration: 0.5s;
  left: 13vw;
  top: 89vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(5) {
  animation-delay: 1.75s;
  animation-duration: 4s;
  -webkit-animation-delay: 1.75s;
  -webkit-animation-duration: 4s;
  left: 53vw;
  top: 54vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(4) {
  animation-delay: 1s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 2s;
  left: 99vw;
  top: 31vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container1 .star:nth-child(3) {
  animation-delay: 2s;
  animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 3s;
  left: 96vw;
  top: 7vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container1 .star:nth-child(2) {
  animation-delay: 2s;
  animation-duration: 4s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 4s;
  left: 91vw;
  top: 96vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container1 .star:nth-child(1) {
  animation-delay: 4s;
  animation-duration: 2s;
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 2s;
  left: 10vw;
  top: 77vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 {
  height: 100vh;
  width: 100vw;
  perspective: 120rem;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  width: 100%;
  transform: rotate(90deg);
}
#container4 .star:nth-child(80) {
  animation-delay: 0.85714286s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.85714286s;
  -webkit-animation-duration: 3s;
  left: 62vw;
  top: 57vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(79) {
  animation-delay: 1s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.5s;
  left: 24vw;
  top: 40vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(78) {
  animation-delay: 1.14285714s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.14285714s;
  -webkit-animation-duration: 1s;
  left: 100vw;
  top: 28vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(77) {
  animation-delay: 2.5s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-duration: 0.33333333s;
  left: 74vw;
  top: 27vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(76) {
  animation-delay: 2.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-duration: 1.5s;
  left: 63vw;
  top: 13vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(75) {
  animation-delay: 0.42857143s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.42857143s;
  -webkit-animation-duration: 0.33333333s;
  left: 54vw;
  top: 11vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(74) {
  animation-delay: 0.875s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 0.875s;
  -webkit-animation-duration: 0.66666667s;
  left: 33vw;
  top: 85vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(73) {
  animation-delay: 0.42857143s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.42857143s;
  -webkit-animation-duration: 1s;
  left: 23vw;
  top: 56vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(72) {
  animation-delay: 8s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 8s;
  -webkit-animation-duration: 1.5s;
  left: 29vw;
  top: 65vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(71) {
  animation-delay: 1.6s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.6s;
  -webkit-animation-duration: 1s;
  left: 30vw;
  top: 68vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container4 .star:nth-child(70) {
  animation-delay: 2.5s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-duration: 0.33333333s;
  left: 28vw;
  top: 56vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(69) {
  animation-delay: 0.16666667s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.16666667s;
  -webkit-animation-duration: 2s;
  left: 6vw;
  top: 79vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(68) {
  animation-delay: 2s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1.5s;
  left: 29vw;
  top: 17vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(67) {
  animation-delay: 0.75s;
  animation-duration: 4s;
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 4s;
  left: 83vw;
  top: 68vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(66) {
  animation-delay: 0.28571429s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.28571429s;
  -webkit-animation-duration: 1.5s;
  left: 56vw;
  top: 92vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container4 .star:nth-child(65) {
  animation-delay: 2.5s;
  animation-duration: 1s;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-duration: 1s;
  left: 20vw;
  top: 55vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(64) {
  animation-delay: 4s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 0.33333333s;
  left: 17vw;
  top: 66vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container4 .star:nth-child(63) {
  animation-delay: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 2s;
  left: 87vw;
  top: 73vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(62) {
  animation-delay: 1.75s;
  animation-duration: 2s;
  -webkit-animation-delay: 1.75s;
  -webkit-animation-duration: 2s;
  left: 96vw;
  top: 55vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(61) {
  animation-delay: 5s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 1.33333333s;
  left: 69vw;
  top: 12vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(60) {
  animation-delay: 0.4s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-duration: 1.33333333s;
  left: 76vw;
  top: 35vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(59) {
  animation-delay: 0.6s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.6s;
  -webkit-animation-duration: 1.5s;
  left: 15vw;
  top: 30vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(58) {
  animation-delay: 2.66666667s;
  animation-duration: 2s;
  -webkit-animation-delay: 2.66666667s;
  -webkit-animation-duration: 2s;
  left: 62vw;
  top: 92vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(57) {
  animation-delay: 3s;
  animation-duration: 4s;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 4s;
  left: 49vw;
  top: 9vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(56) {
  animation-delay: 1.11111111s;
  animation-duration: 4s;
  -webkit-animation-delay: 1.11111111s;
  -webkit-animation-duration: 4s;
  left: 13vw;
  top: 24vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(55) {
  animation-delay: 2.33333333s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 2.33333333s;
  -webkit-animation-duration: 0.33333333s;
  left: 28vw;
  top: 92vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(54) {
  animation-delay: 1s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.66666667s;
  left: 64vw;
  top: 98vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(53) {
  animation-delay: 1s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1.5s;
  left: 5vw;
  top: 98vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(52) {
  animation-delay: 1s;
  animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 3s;
  left: 32vw;
  top: 60vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(51) {
  animation-delay: 0.75s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 0.33333333s;
  left: 38vw;
  top: 7vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container4 .star:nth-child(50) {
  animation-delay: 3s;
  animation-duration: 2s;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 2s;
  left: 92vw;
  top: 66vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container4 .star:nth-child(49) {
  animation-delay: 0.44444444s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.44444444s;
  -webkit-animation-duration: 3s;
  left: 64vw;
  top: 52vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container4 .star:nth-child(48) {
  animation-delay: 5s;
  animation-duration: 2s;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 2s;
  left: 5vw;
  top: 13vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(47) {
  animation-delay: 1s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.33333333s;
  left: 99vw;
  top: 16vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(46) {
  animation-delay: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
  left: 13vw;
  top: 38vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container4 .star:nth-child(45) {
  animation-delay: 0.88888889s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.88888889s;
  -webkit-animation-duration: 1s;
  left: 1vw;
  top: 75vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(44) {
  animation-delay: 1.125s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.125s;
  -webkit-animation-duration: 1s;
  left: 57vw;
  top: 81vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(43) {
  animation-delay: 1.25s;
  animation-duration: 4s;
  -webkit-animation-delay: 1.25s;
  -webkit-animation-duration: 4s;
  left: 4vw;
  top: 32vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(42) {
  animation-delay: 0.66666667s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.66666667s;
  -webkit-animation-duration: 1s;
  left: 57vw;
  top: 94vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(41) {
  animation-delay: 0.85714286s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 0.85714286s;
  -webkit-animation-duration: 1.33333333s;
  left: 62vw;
  top: 88vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(40) {
  animation-delay: 2s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 0.33333333s;
  left: 69vw;
  top: 34vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(39) {
  animation-delay: 0.375s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.375s;
  -webkit-animation-duration: 3s;
  left: 37vw;
  top: 68vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(38) {
  animation-delay: 0.55555556s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.55555556s;
  -webkit-animation-duration: 1s;
  left: 22vw;
  top: 70vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(37) {
  animation-delay: 1s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.33333333s;
  left: 39vw;
  top: 18vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(36) {
  animation-delay: 10s;
  animation-duration: 2s;
  -webkit-animation-delay: 10s;
  -webkit-animation-duration: 2s;
  left: 40vw;
  top: 23vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(35) {
  animation-delay: 0.33333333s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.33333333s;
  -webkit-animation-duration: 0.5s;
  left: 31vw;
  top: 94vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(34) {
  animation-delay: 6s;
  animation-duration: 4s;
  -webkit-animation-delay: 6s;
  -webkit-animation-duration: 4s;
  left: 53vw;
  top: 60vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(33) {
  animation-delay: 1.2s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1.2s;
  -webkit-animation-duration: 1.5s;
  left: 1vw;
  top: 24vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(32) {
  animation-delay: 0.5s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  left: 57vw;
  top: 91vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(31) {
  animation-delay: 0.75s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 2s;
  left: 15vw;
  top: 52vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(30) {
  animation-delay: 1.25s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.25s;
  -webkit-animation-duration: 1s;
  left: 4vw;
  top: 14vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(29) {
  animation-delay: 2s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 0.66666667s;
  left: 82vw;
  top: 8vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(28) {
  animation-delay: 8s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 8s;
  -webkit-animation-duration: 1.33333333s;
  left: 10vw;
  top: 85vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(27) {
  animation-delay: 0.8s;
  animation-duration: 4s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-duration: 4s;
  left: 36vw;
  top: 88vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(26) {
  animation-delay: 0.11111111s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.11111111s;
  -webkit-animation-duration: 0.33333333s;
  left: 27vw;
  top: 40vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(25) {
  animation-delay: 1s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1.33333333s;
  left: 18vw;
  top: 71vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container4 .star:nth-child(24) {
  animation-delay: 10s;
  animation-duration: 1s;
  -webkit-animation-delay: 10s;
  -webkit-animation-duration: 1s;
  left: 81vw;
  top: 13vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container4 .star:nth-child(23) {
  animation-delay: 0.85714286s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.85714286s;
  -webkit-animation-duration: 3s;
  left: 64vw;
  top: 79vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(22) {
  animation-delay: 0.75s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 2s;
  left: 38vw;
  top: 81vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(21) {
  animation-delay: 0.2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 2s;
  left: 48vw;
  top: 71vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(20) {
  animation-delay: 1.42857143s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.42857143s;
  -webkit-animation-duration: 1s;
  left: 44vw;
  top: 5vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(19) {
  animation-delay: 1.5s;
  animation-duration: 2s;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 2s;
  left: 57vw;
  top: 1vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(18) {
  animation-delay: 0.28571429s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.28571429s;
  -webkit-animation-duration: 1s;
  left: 11vw;
  top: 41vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(17) {
  animation-delay: 1.66666667s;
  animation-duration: 3s;
  -webkit-animation-delay: 1.66666667s;
  -webkit-animation-duration: 3s;
  left: 58vw;
  top: 27vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(16) {
  animation-delay: 0.33333333s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.33333333s;
  -webkit-animation-duration: 1s;
  left: 62vw;
  top: 53vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(15) {
  animation-delay: 0.42857143s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.42857143s;
  -webkit-animation-duration: 2s;
  left: 35vw;
  top: 3vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(14) {
  animation-delay: 1s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.66666667s;
  left: 41vw;
  top: 1vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(13) {
  animation-delay: 9s;
  animation-duration: 2s;
  -webkit-animation-delay: 9s;
  -webkit-animation-duration: 2s;
  left: 37vw;
  top: 60vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(12) {
  animation-delay: 1.25s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.25s;
  -webkit-animation-duration: 1s;
  left: 44vw;
  top: 78vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(11) {
  animation-delay: 1.25s;
  animation-duration: 4s;
  -webkit-animation-delay: 1.25s;
  -webkit-animation-duration: 4s;
  left: 94vw;
  top: 60vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(10) {
  animation-delay: 0.22222222s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 0.22222222s;
  -webkit-animation-duration: 1.33333333s;
  left: 9vw;
  top: 94vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(9) {
  animation-delay: 1.16666667s;
  animation-duration: 2s;
  -webkit-animation-delay: 1.16666667s;
  -webkit-animation-duration: 2s;
  left: 5vw;
  top: 95vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(8) {
  animation-delay: 3s;
  animation-duration: 2s;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 2s;
  left: 87vw;
  top: 32vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(7) {
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 0.5s;
  left: 44vw;
  top: 19vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(6) {
  animation-delay: 0.14285714s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.14285714s;
  -webkit-animation-duration: 1s;
  left: 40vw;
  top: 90vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container4 .star:nth-child(5) {
  animation-delay: 1.25s;
  animation-duration: 2s;
  -webkit-animation-delay: 1.25s;
  -webkit-animation-duration: 2s;
  left: 19vw;
  top: 63vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(4) {
  animation-delay: 3.5s;
  animation-duration: 1s;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-duration: 1s;
  left: 73vw;
  top: 46vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container4 .star:nth-child(3) {
  animation-delay: 1s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 2s;
  left: 45vw;
  top: 23vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container4 .star:nth-child(2) {
  animation-delay: 0.75s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 1s;
  left: 3vw;
  top: 66vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container4 .star:nth-child(1) {
  animation-delay: 0.5s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
  left: 57vw;
  top: 100vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 {
  height: 100vh;
  width: 100vw;
  perspective: 120rem;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  width: 100%;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  animation: rotate 250s infinite linear;
  -webkit-animation: rotate 250s infinite linear;
}
#container2 .star:nth-child(80) {
  animation-delay: 2s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1.5s;
  left: 98vw;
  top: 14vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(79) {
  animation-delay: 3s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 0.5s;
  left: 79vw;
  top: 75vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(78) {
  animation-delay: 1.33333333s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 1.33333333s;
  -webkit-animation-duration: 0.66666667s;
  left: 20vw;
  top: 36vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(77) {
  animation-delay: 2.66666667s;
  animation-duration: 1s;
  -webkit-animation-delay: 2.66666667s;
  -webkit-animation-duration: 1s;
  left: 77vw;
  top: 46vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(76) {
  animation-delay: 1s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.5s;
  left: 75vw;
  top: 90vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(75) {
  animation-delay: 0.42857143s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.42857143s;
  -webkit-animation-duration: 2s;
  left: 7vw;
  top: 16vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(74) {
  animation-delay: 1.16666667s;
  animation-duration: 3s;
  -webkit-animation-delay: 1.16666667s;
  -webkit-animation-duration: 3s;
  left: 78vw;
  top: 56vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(73) {
  animation-delay: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
  left: 90vw;
  top: 91vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container2 .star:nth-child(72) {
  animation-delay: 1.5s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 1s;
  left: 76vw;
  top: 84vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(71) {
  animation-delay: 1.42857143s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.42857143s;
  -webkit-animation-duration: 1s;
  left: 14vw;
  top: 29vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container2 .star:nth-child(70) {
  animation-delay: 2s;
  animation-duration: 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1s;
  left: 65vw;
  top: 74vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(69) {
  animation-delay: 0.33333333s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.33333333s;
  -webkit-animation-duration: 1s;
  left: 60vw;
  top: 73vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container2 .star:nth-child(68) {
  animation-delay: 0.16666667s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.16666667s;
  -webkit-animation-duration: 1s;
  left: 2vw;
  top: 40vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container2 .star:nth-child(67) {
  animation-delay: 0.11111111s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.11111111s;
  -webkit-animation-duration: 3s;
  left: 85vw;
  top: 26vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(66) {
  animation-delay: 4.5s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 4.5s;
  -webkit-animation-duration: 0.66666667s;
  left: 91vw;
  top: 45vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(65) {
  animation-delay: 0.33333333s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.33333333s;
  -webkit-animation-duration: 3s;
  left: 79vw;
  top: 7vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(64) {
  animation-delay: 0.8s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-duration: 0.33333333s;
  left: 77vw;
  top: 65vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(63) {
  animation-delay: 0.875s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.875s;
  -webkit-animation-duration: 0.5s;
  left: 67vw;
  top: 1vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container2 .star:nth-child(62) {
  animation-delay: 0.83333333s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 0.83333333s;
  -webkit-animation-duration: 1.33333333s;
  left: 43vw;
  top: 88vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(61) {
  animation-delay: 2s;
  animation-duration: 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1s;
  left: 53vw;
  top: 40vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container2 .star:nth-child(60) {
  animation-delay: 2s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1.5s;
  left: 79vw;
  top: 97vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(59) {
  animation-delay: 1s;
  animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 3s;
  left: 2vw;
  top: 76vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(58) {
  animation-delay: 1s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1.5s;
  left: 64vw;
  top: 40vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(57) {
  animation-delay: 6s;
  animation-duration: 1s;
  -webkit-animation-delay: 6s;
  -webkit-animation-duration: 1s;
  left: 26vw;
  top: 68vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(56) {
  animation-delay: 1.66666667s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.66666667s;
  -webkit-animation-duration: 1s;
  left: 63vw;
  top: 36vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(55) {
  animation-delay: 0.25s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-duration: 1.33333333s;
  left: 3vw;
  top: 85vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container2 .star:nth-child(54) {
  animation-delay: 0.33333333s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.33333333s;
  -webkit-animation-duration: 1s;
  left: 5vw;
  top: 59vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container2 .star:nth-child(53) {
  animation-delay: 0.88888889s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 0.88888889s;
  -webkit-animation-duration: 0.66666667s;
  left: 24vw;
  top: 22vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container2 .star:nth-child(52) {
  animation-delay: 0.66666667s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.66666667s;
  -webkit-animation-duration: 0.5s;
  left: 76vw;
  top: 11vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(51) {
  animation-delay: 2s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 0.5s;
  left: 73vw;
  top: 27vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(50) {
  animation-delay: 0.44444444s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.44444444s;
  -webkit-animation-duration: 0.5s;
  left: 4vw;
  top: 24vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(49) {
  animation-delay: 1.125s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1.125s;
  -webkit-animation-duration: 1.5s;
  left: 12vw;
  top: 60vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(48) {
  animation-delay: 1.16666667s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 1.16666667s;
  -webkit-animation-duration: 1.33333333s;
  left: 58vw;
  top: 10vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(47) {
  animation-delay: 0.66666667s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.66666667s;
  -webkit-animation-duration: 2s;
  left: 96vw;
  top: 3vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(46) {
  animation-delay: 1.66666667s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 1.66666667s;
  -webkit-animation-duration: 1.33333333s;
  left: 80vw;
  top: 29vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(45) {
  animation-delay: 3s;
  animation-duration: 1s;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 1s;
  left: 62vw;
  top: 75vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(44) {
  animation-delay: 1.28571429s;
  animation-duration: 4s;
  -webkit-animation-delay: 1.28571429s;
  -webkit-animation-duration: 4s;
  left: 8vw;
  top: 55vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(43) {
  animation-delay: 3s;
  animation-duration: 1s;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 1s;
  left: 50vw;
  top: 3vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(42) {
  animation-delay: 0.4s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-duration: 0.33333333s;
  left: 65vw;
  top: 69vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(41) {
  animation-delay: 0.125s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.125s;
  -webkit-animation-duration: 1s;
  left: 31vw;
  top: 49vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(40) {
  animation-delay: 4.5s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 4.5s;
  -webkit-animation-duration: 0.33333333s;
  left: 93vw;
  top: 11vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container2 .star:nth-child(39) {
  animation-delay: 0.88888889s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.88888889s;
  -webkit-animation-duration: 1s;
  left: 68vw;
  top: 18vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(38) {
  animation-delay: 0.875s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.875s;
  -webkit-animation-duration: 1s;
  left: 48vw;
  top: 48vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container2 .star:nth-child(37) {
  animation-delay: 2.25s;
  animation-duration: 2s;
  -webkit-animation-delay: 2.25s;
  -webkit-animation-duration: 2s;
  left: 56vw;
  top: 32vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(36) {
  animation-delay: 2s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1.5s;
  left: 35vw;
  top: 11vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container2 .star:nth-child(35) {
  animation-delay: 5s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 0.33333333s;
  left: 66vw;
  top: 69vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container2 .star:nth-child(34) {
  animation-delay: 0.55555556s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.55555556s;
  -webkit-animation-duration: 0.33333333s;
  left: 94vw;
  top: 61vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(33) {
  animation-delay: 0.28571429s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.28571429s;
  -webkit-animation-duration: 1s;
  left: 4vw;
  top: 48vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(32) {
  animation-delay: 1s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.5s;
  left: 76vw;
  top: 62vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(31) {
  animation-delay: 8s;
  animation-duration: 4s;
  -webkit-animation-delay: 8s;
  -webkit-animation-duration: 4s;
  left: 25vw;
  top: 13vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(30) {
  animation-delay: 0.88888889s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 0.88888889s;
  -webkit-animation-duration: 0.66666667s;
  left: 24vw;
  top: 99vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container2 .star:nth-child(29) {
  animation-delay: 2.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-duration: 1.5s;
  left: 21vw;
  top: 65vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(28) {
  animation-delay: 0.4s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-duration: 1s;
  left: 58vw;
  top: 89vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container2 .star:nth-child(27) {
  animation-delay: 0.28571429s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.28571429s;
  -webkit-animation-duration: 0.33333333s;
  left: 8vw;
  top: 37vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(26) {
  animation-delay: 2.66666667s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 2.66666667s;
  -webkit-animation-duration: 0.5s;
  left: 45vw;
  top: 2vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(25) {
  animation-delay: 1.11111111s;
  animation-duration: 2s;
  -webkit-animation-delay: 1.11111111s;
  -webkit-animation-duration: 2s;
  left: 89vw;
  top: 12vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(24) {
  animation-delay: 0.14285714s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.14285714s;
  -webkit-animation-duration: 2s;
  left: 92vw;
  top: 21vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(23) {
  animation-delay: 0.5s;
  animation-duration: 4s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 4s;
  left: 28vw;
  top: 80vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container2 .star:nth-child(22) {
  animation-delay: 0.4s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-duration: 0.66666667s;
  left: 75vw;
  top: 58vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(21) {
  animation-delay: 2.25s;
  animation-duration: 2s;
  -webkit-animation-delay: 2.25s;
  -webkit-animation-duration: 2s;
  left: 43vw;
  top: 88vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(20) {
  animation-delay: 1s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1.33333333s;
  left: 71vw;
  top: 43vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(19) {
  animation-delay: 1.125s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 1.125s;
  -webkit-animation-duration: 1.33333333s;
  left: 63vw;
  top: 87vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(18) {
  animation-delay: 0.42857143s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.42857143s;
  -webkit-animation-duration: 1s;
  left: 44vw;
  top: 95vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(17) {
  animation-delay: 5s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 0.66666667s;
  left: 28vw;
  top: 2vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(16) {
  animation-delay: 0.25s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-duration: 0.5s;
  left: 100vw;
  top: 87vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(15) {
  animation-delay: 0.83333333s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.83333333s;
  -webkit-animation-duration: 2s;
  left: 93vw;
  top: 17vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container2 .star:nth-child(14) {
  animation-delay: 5s;
  animation-duration: 4s;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 4s;
  left: 78vw;
  top: 93vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container2 .star:nth-child(13) {
  animation-delay: 1.125s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1.125s;
  -webkit-animation-duration: 0.5s;
  left: 2vw;
  top: 37vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container2 .star:nth-child(12) {
  animation-delay: 0.77777778s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.77777778s;
  -webkit-animation-duration: 0.33333333s;
  left: 63vw;
  top: 61vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(11) {
  animation-delay: 1.6s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 1.6s;
  -webkit-animation-duration: 1.33333333s;
  left: 57vw;
  top: 39vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container2 .star:nth-child(10) {
  animation-delay: 4.5s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 4.5s;
  -webkit-animation-duration: 0.33333333s;
  left: 81vw;
  top: 28vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(9) {
  animation-delay: 0.5s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  left: 66vw;
  top: 34vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container2 .star:nth-child(8) {
  animation-delay: 1s;
  animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 3s;
  left: 74vw;
  top: 2vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(7) {
  animation-delay: 10s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 10s;
  -webkit-animation-duration: 0.66666667s;
  left: 32vw;
  top: 43vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(6) {
  animation-delay: 9s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 9s;
  -webkit-animation-duration: 1.5s;
  left: 67vw;
  top: 72vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(5) {
  animation-delay: 4s;
  animation-duration: 1s;
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 1s;
  left: 84vw;
  top: 71vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container2 .star:nth-child(4) {
  animation-delay: 1.8s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 1.8s;
  -webkit-animation-duration: 0.66666667s;
  left: 10vw;
  top: 3vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container2 .star:nth-child(3) {
  animation-delay: 0.5s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 2s;
  left: 72vw;
  top: 94vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container2 .star:nth-child(2) {
  animation-delay: 9s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 9s;
  -webkit-animation-duration: 0.5s;
  left: 71vw;
  top: 57vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container2 .star:nth-child(1) {
  animation-delay: 0.71428571s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.71428571s;
  -webkit-animation-duration: 2s;
  left: 51vw;
  top: 60vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 {
  height: 100vh;
  width: 100vw;
  perspective: 120rem;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  width: 100%;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  animation: rotate 300s infinite linear;
  -webkit-animation: rotate 300s infinite linear;
}
#container3 .star:nth-child(80) {
  animation-delay: 1.42857143s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.42857143s;
  -webkit-animation-duration: 1s;
  left: 66vw;
  top: 8vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container3 .star:nth-child(79) {
  animation-delay: 3s;
  animation-duration: 2s;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 2s;
  left: 73vw;
  top: 86vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(78) {
  animation-delay: 1.33333333s;
  animation-duration: 3s;
  -webkit-animation-delay: 1.33333333s;
  -webkit-animation-duration: 3s;
  left: 66vw;
  top: 8vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container3 .star:nth-child(77) {
  animation-delay: 0.88888889s;
  animation-duration: 4s;
  -webkit-animation-delay: 0.88888889s;
  -webkit-animation-duration: 4s;
  left: 34vw;
  top: 73vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(76) {
  animation-delay: 2s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1.5s;
  left: 33vw;
  top: 55vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container3 .star:nth-child(75) {
  animation-delay: 8s;
  animation-duration: 2s;
  -webkit-animation-delay: 8s;
  -webkit-animation-duration: 2s;
  left: 21vw;
  top: 70vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(74) {
  animation-delay: 0.5s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  left: 32vw;
  top: 39vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(73) {
  animation-delay: 1.4s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1.4s;
  -webkit-animation-duration: 1.5s;
  left: 100vw;
  top: 68vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container3 .star:nth-child(72) {
  animation-delay: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 2s;
  left: 99vw;
  top: 32vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(71) {
  animation-delay: 0.66666667s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.66666667s;
  -webkit-animation-duration: 0.33333333s;
  left: 96vw;
  top: 22vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container3 .star:nth-child(70) {
  animation-delay: 0.75s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 1s;
  left: 78vw;
  top: 16vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(69) {
  animation-delay: 6s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 6s;
  -webkit-animation-duration: 1.5s;
  left: 73vw;
  top: 71vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(68) {
  animation-delay: 4.5s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 4.5s;
  -webkit-animation-duration: 0.66666667s;
  left: 25vw;
  top: 51vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(67) {
  animation-delay: 3s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 0.33333333s;
  left: 95vw;
  top: 61vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(66) {
  animation-delay: 0.625s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 0.625s;
  -webkit-animation-duration: 0.66666667s;
  left: 31vw;
  top: 96vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(65) {
  animation-delay: 0.25s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-duration: 2s;
  left: 13vw;
  top: 39vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(64) {
  animation-delay: 2s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 0.66666667s;
  left: 23vw;
  top: 23vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container3 .star:nth-child(63) {
  animation-delay: 0.2s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 1s;
  left: 40vw;
  top: 32vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(62) {
  animation-delay: 1.8s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.8s;
  -webkit-animation-duration: 1s;
  left: 18vw;
  top: 27vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container3 .star:nth-child(61) {
  animation-delay: 0.44444444s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.44444444s;
  -webkit-animation-duration: 1s;
  left: 82vw;
  top: 40vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(60) {
  animation-delay: 0.85714286s;
  animation-duration: 4s;
  -webkit-animation-delay: 0.85714286s;
  -webkit-animation-duration: 4s;
  left: 71vw;
  top: 20vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container3 .star:nth-child(59) {
  animation-delay: 0.8s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-duration: 3s;
  left: 21vw;
  top: 37vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(58) {
  animation-delay: 1.25s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1.25s;
  -webkit-animation-duration: 0.5s;
  left: 95vw;
  top: 28vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(57) {
  animation-delay: 0.5s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  left: 84vw;
  top: 10vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(56) {
  animation-delay: 0.77777778s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.77777778s;
  -webkit-animation-duration: 0.33333333s;
  left: 41vw;
  top: 55vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(55) {
  animation-delay: 0.83333333s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.83333333s;
  -webkit-animation-duration: 2s;
  left: 98vw;
  top: 60vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(54) {
  animation-delay: 0.75s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 1s;
  left: 89vw;
  top: 59vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(53) {
  animation-delay: 3s;
  animation-duration: 1s;
  -webkit-animation-delay: 3s;
  -webkit-animation-duration: 1s;
  left: 39vw;
  top: 6vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(52) {
  animation-delay: 0.5s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 0.33333333s;
  left: 61vw;
  top: 9vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(51) {
  animation-delay: 1.33333333s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.33333333s;
  -webkit-animation-duration: 1s;
  left: 68vw;
  top: 38vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(50) {
  animation-delay: 2.33333333s;
  animation-duration: 4s;
  -webkit-animation-delay: 2.33333333s;
  -webkit-animation-duration: 4s;
  left: 100vw;
  top: 50vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(49) {
  animation-delay: 1s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 0.33333333s;
  left: 31vw;
  top: 77vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(48) {
  animation-delay: 0.625s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.625s;
  -webkit-animation-duration: 2s;
  left: 37vw;
  top: 54vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(47) {
  animation-delay: 10s;
  animation-duration: 1s;
  -webkit-animation-delay: 10s;
  -webkit-animation-duration: 1s;
  left: 51vw;
  top: 29vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(46) {
  animation-delay: 0.4s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-duration: 1s;
  left: 92vw;
  top: 31vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(45) {
  animation-delay: 0.71428571s;
  animation-duration: 4s;
  -webkit-animation-delay: 0.71428571s;
  -webkit-animation-duration: 4s;
  left: 88vw;
  top: 44vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(44) {
  animation-delay: 7s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 7s;
  -webkit-animation-duration: 1.33333333s;
  left: 72vw;
  top: 72vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(43) {
  animation-delay: 0.625s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.625s;
  -webkit-animation-duration: 2s;
  left: 100vw;
  top: 60vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(42) {
  animation-delay: 0.83333333s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.83333333s;
  -webkit-animation-duration: 1s;
  left: 70vw;
  top: 97vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(41) {
  animation-delay: 0.25s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-duration: 3s;
  left: 37vw;
  top: 38vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(40) {
  animation-delay: 0.125s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.125s;
  -webkit-animation-duration: 1s;
  left: 74vw;
  top: 6vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(39) {
  animation-delay: 1.66666667s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 1.66666667s;
  -webkit-animation-duration: 0.66666667s;
  left: 66vw;
  top: 26vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(38) {
  animation-delay: 1.2s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1.2s;
  -webkit-animation-duration: 0.5s;
  left: 37vw;
  top: 50vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(37) {
  animation-delay: 1.33333333s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 1.33333333s;
  -webkit-animation-duration: 0.66666667s;
  left: 1vw;
  top: 31vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(36) {
  animation-delay: 1.5s;
  animation-duration: 3s;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 3s;
  left: 31vw;
  top: 9vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(35) {
  animation-delay: 0.83333333s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.83333333s;
  -webkit-animation-duration: 1s;
  left: 55vw;
  top: 43vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(34) {
  animation-delay: 8s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 8s;
  -webkit-animation-duration: 0.66666667s;
  left: 82vw;
  top: 34vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(33) {
  animation-delay: 9s;
  animation-duration: 1s;
  -webkit-animation-delay: 9s;
  -webkit-animation-duration: 1s;
  left: 31vw;
  top: 82vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(32) {
  animation-delay: 0.44444444s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.44444444s;
  -webkit-animation-duration: 0.33333333s;
  left: 5vw;
  top: 88vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(31) {
  animation-delay: 0.33333333s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.33333333s;
  -webkit-animation-duration: 0.33333333s;
  left: 89vw;
  top: 13vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(30) {
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 1.5s;
  left: 93vw;
  top: 98vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(29) {
  animation-delay: 0.625s;
  animation-duration: 0.33333333s;
  -webkit-animation-delay: 0.625s;
  -webkit-animation-duration: 0.33333333s;
  left: 70vw;
  top: 82vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(28) {
  animation-delay: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
  left: 68vw;
  top: 7vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(27) {
  animation-delay: 6s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 6s;
  -webkit-animation-duration: 0.66666667s;
  left: 83vw;
  top: 29vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(26) {
  animation-delay: 1.33333333s;
  animation-duration: 2s;
  -webkit-animation-delay: 1.33333333s;
  -webkit-animation-duration: 2s;
  left: 54vw;
  top: 38vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(25) {
  animation-delay: 0.11111111s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.11111111s;
  -webkit-animation-duration: 1s;
  left: 19vw;
  top: 61vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(24) {
  animation-delay: 5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 0.5s;
  left: 10vw;
  top: 24vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(23) {
  animation-delay: 0.28571429s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.28571429s;
  -webkit-animation-duration: 3s;
  left: 21vw;
  top: 76vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(22) {
  animation-delay: 1s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1.5s;
  left: 44vw;
  top: 64vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(21) {
  animation-delay: 2.5s;
  animation-duration: 3s;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-duration: 3s;
  left: 64vw;
  top: 18vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(20) {
  animation-delay: 1.25s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 1.25s;
  -webkit-animation-duration: 1.33333333s;
  left: 81vw;
  top: 69vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(19) {
  animation-delay: 0.83333333s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.83333333s;
  -webkit-animation-duration: 1s;
  left: 54vw;
  top: 31vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(18) {
  animation-delay: 1.75s;
  animation-duration: 2s;
  -webkit-animation-delay: 1.75s;
  -webkit-animation-duration: 2s;
  left: 41vw;
  top: 16vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(17) {
  animation-delay: 2s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 0.66666667s;
  left: 94vw;
  top: 4vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container3 .star:nth-child(16) {
  animation-delay: 0.5s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 1.33333333s;
  left: 5vw;
  top: 95vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(15) {
  animation-delay: 0.33333333s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 0.33333333s;
  -webkit-animation-duration: 1.33333333s;
  left: 39vw;
  top: 40vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(14) {
  animation-delay: 1.2s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1.2s;
  -webkit-animation-duration: 0.5s;
  left: 70vw;
  top: 50vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(13) {
  animation-delay: 0.83333333s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.83333333s;
  -webkit-animation-duration: 1.5s;
  left: 7vw;
  top: 47vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(12) {
  animation-delay: 0.75s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 1.5s;
  left: 9vw;
  top: 89vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(11) {
  animation-delay: 0.75s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 2s;
  left: 48vw;
  top: 10vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container3 .star:nth-child(10) {
  animation-delay: 0.33333333s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.33333333s;
  -webkit-animation-duration: 1s;
  left: 6vw;
  top: 86vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(9) {
  animation-delay: 2s;
  animation-duration: 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1s;
  left: 61vw;
  top: 43vh;
  height: 0.15rem;
  width: 0.15rem;
}
#container3 .star:nth-child(8) {
  animation-delay: 1.14285714s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1.14285714s;
  -webkit-animation-duration: 0.5s;
  left: 54vw;
  top: 72vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(7) {
  animation-delay: 0.8s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-duration: 1s;
  left: 37vw;
  top: 86vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(6) {
  animation-delay: 2s;
  animation-duration: 1.33333333s;
  -webkit-animation-delay: 2s;
  -webkit-animation-duration: 1.33333333s;
  left: 24vw;
  top: 4vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(5) {
  animation-delay: 10s;
  animation-duration: 1s;
  -webkit-animation-delay: 10s;
  -webkit-animation-duration: 1s;
  left: 21vw;
  top: 73vh;
  height: 0.05rem;
  width: 0.05rem;
}
#container3 .star:nth-child(4) {
  animation-delay: 2.33333333s;
  animation-duration: 3s;
  -webkit-animation-delay: 2.33333333s;
  -webkit-animation-duration: 3s;
  left: 70vw;
  top: 39vh;
  height: 0.1rem;
  width: 0.1rem;
}
#container3 .star:nth-child(3) {
  animation-delay: 0.33333333s;
  animation-duration: 0.66666667s;
  -webkit-animation-delay: 0.33333333s;
  -webkit-animation-duration: 0.66666667s;
  left: 60vw;
  top: 63vh;
  height: 0.25rem;
  width: 0.25rem;
}
#container3 .star:nth-child(2) {
  animation-delay: 4.5s;
  animation-duration: 2s;
  -webkit-animation-delay: 4.5s;
  -webkit-animation-duration: 2s;
  left: 78vw;
  top: 6vh;
  height: 0.2rem;
  width: 0.2rem;
}
#container3 .star:nth-child(1) {
  animation-delay: 0.75s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.75s;
  -webkit-animation-duration: 3s;
  left: 86vw;
  top: 19vh;
  height: 0.25rem;
  width: 0.25rem;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
