* {
  margin:0;
  padding:0;
}
.night-background {
  background: linear-gradient(180deg, #000000, #000033);
  position: fixed;
  overflow: hidden;
  height: 100%;
  min-height: 410px;
  width: 100%;
}
.planet {
  position:absolute;
  left:-20%;
  bottom:0;
  box-shadow: 0 0 15px rgba(255, 248, 219, 0.7) ,0 0 15px rgba(255, 248, 219, 0.5); //, inset -5px -5px 40px rgba(0,0,0,.5);
  background-image: -webkit-linear-gradient(top,#FFF8DB -10% , #7BB7E8 20%, #2751D9 100%);
  background-image: linear-gradient(to bottom, #FFF8DB -10% , #7BB7E8 20%, #2751D9 100% );
  background-image: radial-gradient(to top, #2751D9 100%, #7BB7E8 50%, #FFF8DB 0%);  width:140%;
  height:50px;
  bottom:-40px;
          border-radius: 100%;
     -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}
.text {
  font-family: 'Open Sans', Arial, sans-serif;
  position: absolute;
  bottom: 50px;
  color: #ffffff;
  left: 30px;
  @media (max-width: 436px) {
    width: 92%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  h1 {
  font-size:26px;
  font-weight: 400;
  opacity:.8;
  @media (max-width: 399px) {
    font-size: 20px;
    }
  }
  h2 {
    font-weight: 300;
    opacity:.5;
    font-size:17px;
    margin-top:5px;
  }
}

.make-random(@min, @max1, @max2, @max3, @max4, @max5) { 
  @rnd1: floor(`Math.random() * @{max1} + @{min}`);
  @rnd2: floor(`Math.random() * @{max2} + @{min}`);
  @rnd3: floor(`Math.random() * @{max3} + @{min}`);
  @rnd4: floor(`Math.random() * @{max4} + @{min}`);
  @rnd5: floor(`Math.random() * @{max5} + @{min}`);
}
.make-random-int(@min, @max) { 
  @rndInt1: floor(`Math.random() * @{max} + @{min}`);
  @rndInt2: floor(`Math.random() * @{max} + @{min}`);
}
.star {
  -webkit-animation-name: flicker;
  -webkit-animation-timing-function: ease(in-out-circ);
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-name: flicker;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  background: #fff;
  border-radius: 50%; 
  position: absolute;
  opacity: 1; 
}
.starLoop(@counter) when (@counter > 0) {
  .make-random(1, 10, 9, 4, 3, 5);
  .make-random-int(1, 100);
  @size: @rnd5 * 0.05rem;
  
  .star:nth-child(@{counter}) {
    animation-delay: @rnd1 / @rnd2 + 0s;
    animation-duration: @rnd3 / @rnd4 + 0s;
    -webkit-animation-delay: @rnd1 / @rnd2 + 0s;
    -webkit-animation-duration: @rnd3 / @rnd4 + 0s;
    left: @rndInt1 + 0vw;
    top: @rndInt2 + 0vh;
    height: @size;
    width: @size;
  }
  .starLoop((@counter - 1));
}
@keyframes flicker {
  to {opacity: 0.25;}
}
@-webkit-keyframes flicker {
  0% {opacity: 1;}
  50% {opacity: 0.25;}
  100% {opacity: 1;}
}
.star-container {
  height: 100vh;
  width: 100vw;
  perspective: 120rem;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  width: 100%;
}
#container1 { // still stars
  .star-container;
  .starLoop(80);
  transform: rotate(0deg);
}
#container4 { // still stars
  .star-container;
  .starLoop(80);
  transform: rotate(90deg);
}
#container2 {
  .star-container;
  .starLoop(80);
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  animation: rotate 250s infinite linear;
  -webkit-animation: rotate 250s infinite linear;
}
#container3 {
  .star-container;
  .starLoop(80);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  animation: rotate 300s infinite linear;
  -webkit-animation: rotate 300s infinite linear;
}

@keyframes rotate {
    0% { transform:rotate(0deg); }
    100%  { transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
    0% { -webkit-transform:rotate(0deg); }
    100%  { -webkit-transform:rotate(360deg); }
}